@-ms-viewport {
  width: device-width; }
body {
  overflow: scroll; }

@media screen and (max-width: 480px) {
  html, body {
    min-width: 320px; } }
html {
  box-sizing: border-box; }

html,body,div,span, h1, h2, h3, h4, h5, h6, p,a,img,q,s,strong,ul,li,label,footer,header{
  font-family: Bookman, URW Bookman L, serif;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; 
}

footer,header,section {
  display: block; }

/* 整個 */
body{
  font-family: Bookman, URW Bookman L, serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.65; }
ul,li{
  list-style: none;}
p{
  margin: 0 0 15px 0;}
header.special {
  text-align: center;
  margin-bottom: 60px;}
header.special p {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;}
h1, h2, h3{
  font-weight: 300;
  line-height: 1.5;
  text-transform: uppercase;
  margin: 0 0 20px 0;}
h1 a, h2 a, h3 a{
  color: inherit;
  text-decoration: none;}
h1{
  font-size: 45px;
  line-height: 1.2;}
h2{
  font-size: 35px;
  line-height: 1.3;}
h3{
  font-size: 20px;}
a{
  color: #C19892;}
h1,h2,h3{
  color: #BEBFBD;}


/* Header */
#header { /* 最上面的橫幅 */
  display: flex;
  background: black;
  height: 48.75px;
  line-height: 48.75px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10001;
}  
.logo{
  color:white;
  font-style: italic;
  font-size: 15px;
  font-weight: 600;
  height: inherit;
  line-height: inherit;
  padding: 0 18.75px; /* 上下 左右 */
  text-decoration: underline;
}
  @media screen and (max-width: 320px) {
    body{
      padding-top: 44px;}
    #header {
      height: 44px;
      line-height: 44px;
      min-width: 320px; } }


/* Banner */
#banner{
  background-image: url(./img/meow2.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: white;
  align-items: center;
  display: flex;
  justify-content: center;
  border-top: 0;
  height: 750px;
  position: relative;
  text-align: center; /* 水平對齊 */
  width: 100%; 
}
#banner h1 {
  font-family: Bookman, URW Bookman L, serif;
  font-style: italic;
  font-weight: 900;
  color: white;
  font-size: 75px;
  margin-bottom: 15px; 
}
#banner p {
  font-size: 25px; 
  font-family: Bookman, URW Bookman L, serif; 
  font-style: italic;
}
.inner{
  opacity: 1; /* 透明度 */
  position: relative;
  z-index: 3; 
}


/* EDU */
#edu{
  background-color:#969F95;
  color: white;
  background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  text-align: center;
  z-index: 1;
}
#edu ul,li{
  font-size: larger;
}
#edu h2{
  color: white;
  font-weight: 800;
}


/* Interests */
.highlights {
  width: 100%;
  margin: 10px 0;
  display: flex;
}
.highlights *{ 
  width: 33.3333333333%;
  padding: 30px;}
.special p{
  font-style: italic;
}
.special h2{
  color: #505D58;
  font-weight: 800;
}
.highlights h3{
  color: #969F95;
  margin-left: 40px;
}
.highlights .content {
  font-family: Verdana, sans-serif;
  font-weight: 600;
}
.highlights .content .icon {
  text-align: center;
  font-size: 100px; }


/* Footer */
#footer {
  background-color: black;
  color: #BEBFBD;
  padding: 120px 0 90px 0 ; }
  #footer a {
    color: #C19892 }
  #footer h3{
    font-family: Bookman, URW Bookman L, serif;
    font-weight: 600;
    color: #ffffff; }
  #footer .content,#footer .websites,#footer .teacher{
    font-family: Bookman, URW Bookman L, serif;
    font-size:larger;
  }
  #footer a {
    color: #BEBFBD;
    text-decoration: none; }
  #footer a:hover { /* 超連結變色 */
    color: #C19892; } 
  #footer .content {
    display: flex; }
  #footer .content section {
    width: 25%; }
  #footer .content section:first-child {
    width: 50%;
    padding-right: 60px; }
  #footer .content section:last-child {
    padding-left: 60px; }
  @media screen and (max-width: 980px) {
    #footer .content {
      flex-wrap: wrap; }
    #footer .content section {
      width: 50%; }
    #footer .content section:first-child {
      width: 100%;
      padding-right: 0; } }
  @media screen and (max-width: 736px) {
  #footer {
    padding: 45px 0 15px 0 ; }
  #footer .content section {
    width: 100%; }
  #footer .content section:last-child {
    padding-left: 0; } }
  @media screen and (max-width: 480px) {
  #footer {
    padding: 30px 0 1.5px 0 ; } }


/* Wrapper */
.wrapper {
    padding: 8rem 0 6rem 0 ;
    position: relative;
    z-index: 1;
}
@media screen and (max-width: 1280px){
  .wrapper {
    padding: 4rem 0 2rem 0;
    }
}
@media screen and (max-width: 736px){
  .wrapper{
    padding: 3rem 0 1rem 0;
    }
}
@media screen and (max-width: 480px){
  .wrapper{
    padding: 2rem 0 0.1rem 0 ;
    }
}


/* Inner */
.inner {
  margin: 0 auto;
  width: 75rem;
  max-width: calc(100% - 6rem); }
  @media screen and (max-width: 320px) {
    .inner {
      max-width: calc(100% - 3rem); } }




  